<!-- Despesa -->
<div class="container">
	<div class="row">
		<div class="col-md-12" ng-if="!nova">
			<div class="panel panel-default">
				<div class="panel-heading">
					Lista de Despesas
				</div>
				<div class="panel-body">
					<div class="bg-danger btn-lg" ng-if="!despesas">
						<span class="text-danger">Nenhuma despesa registrada</span>
					</div>
					<table class="table table-bordered table-striped"  ng-if="despesas">
						<thead>
							<tr>
								<td>ID</td>
								<td>Descrição</td>
								<td>Data Aquisição</td>
								<td>Vencimento</td>
								<td>Prestações</td>
							</tr>
						</thead>
					</table>
					<hr>
					<button class="btn btn-primary" ng-click="novaDespesa()"><i class="fa fa-plus"></i> Nova despesa</button>
				</div>
			</div>
		</div>
		<div class="col-md-12" ng-if="nova">
			<div class="panel panel-default">
				<div class="panel-heading">
					Cadastro de Despesas
				</div>
				<div class="panel-body">
					<form name="form" class="form" role="form">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
								 	<label class="label-control">Descrição</label>
									<input type="text" class="form-control" name="descricao" ng-model="despesa.descricao" ng-required="true">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<div class="form-group">
								 	<label class="label-control">Valor</label>
									<input type="text" class="form-control" name="valor" ng-model="despesa.valor">
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
								 	<label class="label-control">Quantidade</label>
									<h-number value="despesa.quantidade" unit-position="left" min="1" max="9999" step="1" ng-model="despesa.quantidade"></h-number>
								</div>
							</div>
							<div class="col-md-2">
							 	<div class="form-group">
							 		<label class="label-control">Prestações</label>
							 		<h-number value="despesa.prestacoes" unit-position="left" min="1" max="120" step="1" ng-model="despesa.prestacoes"></h-number>
							 	</div>
						 	</div>

							<div class="col-md-3">
								<div class="form-group">
								 	<label class="label-control">Data Aquisição</label>
									<input type="text" class="form-control" name="dataaquisicao" ng-model="despesa.dataaquisicao" ng-required="true">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
								 	<label class="label-control">1º Vencimento</label>
								 	<input type="text" class="form-control" name="datavencimento" ng-model="despesa.datavencimento" ng-required="true">
								</div>
							</div>	
						</div>

						<hr>
						<div>
							<button class="btn btn-success pull-rigth" type="button" ng-click="salvar(despesa)" ng-disabled="form.$invalid">Salvar Despesa</button>
							<button class="btn btn-danger pull-rigth" type="button" ng-click="cancelar()">Cancelar</button>
						</div>
					</form>
				</div>
			</div>
		</div>	
	</div>
	
</div>